<a href="https://colab.research.google.com/github/violet417/README_example_Source/blob/main/1%EA%B8%B0%EC%B4%88_04_%EB%A6%AC%EC%8A%A4%ED%8A%B8_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 데이터들이 연속적으로 저장되는 형태의 자료형
# 리스트 자료형
a = []
b = [1,3,5,4,2]
c = ['text1','text2']
d = [1,3,5,'text1','text2']
e = [1,2,3,[4,5]]

In [ ]:
# 2차원 리스트: 리스트 안에 리스트들이 나열
a = [[1,2],[3,4],[5,6]]

In [ ]:
# 리스트 인덱싱
a = [1,3,5,4,2]
print(a[0])
print(a[-1])

1
2

In [ ]:
# 리스트 슬라이싱
a = [1,2,3,4,5]
print(a[0:2])
print(a[2:])

[1, 2]
[3, 4, 5]

In [ ]:
# 리스트 덧셈 (뺄셈은 불가능하다.)
a = [1,2,3]
b = [4,5,6]
print(a + b)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 리스트 곱셈
a = [1,2,3]
print(a * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 리스트 길이 구하기
a = [1,2,3]
print(len(a))

3

In [ ]:
# 리스트 값 변경하기
a = [1,3,5,4,2]
a[1] = 10
print(a)

[1, 10, 5, 4, 2]

In [ ]:
# 리스트 값 삭제하기
a = [1,3,5,4,2]
del a[1]
print(a)

[1, 5, 4, 2]

In [ ]:
a = [1,3,5,4,2]
del a[2:]
print(a)

[1, 3]

In [ ]:
# list 내장함수
a = "Pyhon"
list(a)

['P', 'y', 'h', 'o', 'n']

In [ ]:
# 리스트 전용함수: append (맨 끝에 값 추가)
a = [1,3,5,4,2]
a.append(7)
print(a)

[1, 3, 5, 4, 2, 7]

In [ ]:
# 리스트 전용함수: sort (오름차순 정렬)
a = [1,3,5,4,2]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [ ]:
a = ['car', 'apple', 'banana']
a.sort()
print(a)

['apple', 'banana', 'car']

In [ ]:
# 리스트 전용함수: sort (내림차순 정렬)
a = [1,3,5,4,2]
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

In [ ]:
a = ['car', 'apple', 'banana']
a[::-1]
print(a)

['car', 'apple', 'banana']

In [ ]:
# 리스트 전용함수: reverse (리스트를 거꾸로 출력)
a = ['car', 'apple', 'banana']
a.reverse()
print(a)

['banana', 'apple', 'car']

In [ ]:
# 리스트 전용함수: index (없는 값을 찾는 경우 오류 발생)
a = ['car', 'apple', 'banana']
print(a.index('apple'))

1

In [ ]:
# 리스트 전용함수: insert
a = [1,3,5,4,2]
a.insert(1,7)    # 1번째에 7 삽입
print(a)

[1, 7, 3, 5, 4, 2]

In [ ]:
# 리스트 전용함수: remove
a = [1,3,5,4,2]
a.remove(5)    # 삭제할 값 
print(a)

[1, 3, 4, 2]

In [ ]:
# 리스트 전용함수: pop (가장 뒤에 있는 값을 추출)
list1 = [1,3,5,4,2]
a = list1.pop()
print(list1)
print(a)

[1, 3, 5, 4]
2

In [ ]:
list1 = [1,3,5,4,2]
a = list1.pop(0)    # 0번째 값 추출
print(list1)
print(a)

[3, 5, 4, 2]
1

In [ ]:
# 리스트 전용함수: count
a = [1,3,5,4,2,2,2]
print(a.count(2))

3

In [ ]:
# 리스트 전용함수: extend
a = [1,3,5,4,2]
a.extend([1,1,1])    # a = a + [1,1,1]와 같음
print(a)

[1, 3, 5, 4, 2, 1, 1, 1]

In [ ]:
''' <실습예제>
리스트 값이 저장된 a의 최대값을 변수 c에 할당하시고, 최소값을 변수 d에 할당하세요. 
a = [1,3,5,4,2]
b = [1,2,3,[4,5]]
변수 b에서 인덱싱을 사용하여 5만 추출해서 변수 e에 할당하세요.
마지막으로 변수 c, d,e를 곱한 값을 화면에 출력해 보세요.'''

a = [1,3,5,4,2]
print(max(a))
print(min(a))

5
1

In [ ]:
c = 5
d = 1
b = [1,2,3,[4,5]]
e = b[3][1]
print(c * d * e)

25

In [ ]:
a = [1,3,5,4,2]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [ ]:
c = a[-1]
d = a[0]

b = [1,2,3,[4,5]]
e = b[3][1]
print(c * d * e)

25