<a href="https://colab.research.google.com/github/violet417/README_example_Source/blob/main/1%EA%B8%B0%EC%B4%88_02_%EC%88%AB%EC%9E%90%ED%98%95_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 숫자 형태로 이루어진 자료형
# 정수형
a = 3
print(a)

3

In [ ]:
# 실수형
a = 3.14
print(a)

3.14

In [ ]:
# 지수 표현
a = 5.15E+10
print(a)

b = 5.15E-10
print(b)

51500000000.0
5.15e-10

In [ ]:
# 덧셈 연산
a = 3
b = 5
print(a + b)

8

In [ ]:
# 뺄셈 연산
a = 3
b = 5
print(a - b)

-2

In [ ]:
# 곱셈 연산
a = 3
b = 5
print(a * b)

15

In [ ]:
# 나눗셈 연산
a = 3
b = 5
print(a / b)

0.6

In [ ]:
# 나눈 후 나머지 값 구하기
a = 3
b = 5
print(a % b)

3

In [ ]:
# 나눈 후 몫 값 구하기
a = 3
b = 5
print(a // b)

0

In [ ]:
# 거듭 제곱
a = 3
b = 5
print(a ** b)

243